#content
{
	padding-top: 60px;
}

.form-inline label
{
	vertical-align: middle;
	margin-right: 5px;
}

.notifyjs-bootstrap-base
{
	font-weight: normal;
	text-shadow: none;
	white-space: normal;
}